@import 'nib'
@import 'jeet'
@import 'rupture'

grid()
global-reset()

$color1 = #DC011E
$color2 = #11ADB9
$color3 = #009865
$color4 = #F9CE47
$color5 = #FB4D24

$color6 = #EB012C
$color7 = #0067C3
$color8 = #01BE46
$color9 = #F3B802
$color10 = #F12F02




a
	text-decoration: none

.btn
	padding: 8px 8px
	margin: 0
#inputVideo
	top 0
	position: absolute
	left 35%

#log_camara
	position: absolute
	top 0%
	padding: 10px
	left: 0%
	width: 130px
	background: white
#muestreo
	position: absolute
	bottom 5px
	left: 42%
	padding: 12px
	background: white


body
	#panel_superior
		position absolute
		padding 10px 20px
		top 0
		left 0
		img
			width: 7em
	#login
		a
			color black
			background: $color7
			padding: 0.25em
			border-radius: .2em

/*
	#panel_inferior
		position absolute
		padding 0px 0px
		bottom 0
		left 0
		right 0
		ul
			li
				font-weight bold
				color black
				float left
				display inline-block
				background red
				padding 10px 30px
				border 0px
				

	.encender
		position absolute
		padding 15px 1px
		background $color3
		border-width 0
		top 9%
	.apagar
		position absolute
		padding 15px 1px
		border-width 0	
		top 22%
*/
	#panel_modo
		position absolute
		top 20%
		line-height: 2em
		right 0
		margin: 0
		padding: 10px
		display: inline-block
		ul
			li[name="control"]
				background: $color4
				a
					text-align: justify;
					padding: 12% 26%
			li[name="vision_artificial"]
				background: $color3
				a	
					text-align: justify;
					padding: 12% 0%



	.video_c
		background black
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	#direction1
		border-width 0
		position absolute
		top 0%
		left 0
		+below( 640px )
			top 0%
			left 0%
	#direction2
		border-width 0
		position absolute
		top 0%
		right 0
		+below( 640px )
			top 10%
			left 0%

	.joydiv-controller1
		position absolute
		width 200px
		height 200px
		font-size 110px //tamanio de flechas
		bottom 2%
		left 1%
		+below( 640px )
			width 100px
			height 100px
			font-size 55px //tamanio de flechas
			bottom 4%
			left 4%
		.joydiv-up ,.joydiv-left, .joydiv-right, .joydiv-down, .joydiv-n, .joydiv-m
			position absolute
			width 0
			height 0
			background  transparent
			border solid transparent

		.joydiv-up
			top 0%
			left 68%
			margin-left -40%
			border-bottom-color $color10
			border-top-width 0
			border-left-width .40em
			border-right-width .40em
			border-bottom-width .45em

		.joydiv-left
			left  0%
			top  53%
			border-right-color  $color9
			border-top-width  .40em
			border-left-width  0
			border-right-width  .45em
			border-bottom-width  .40em
			margin-top -25%

		.joydiv-right
			right 0%
			top 68%
			margin-top -40%
			border-left-color  $color9
			border-top-width  .40em
			border-left-width  .45em
			border-right-width  0
			border-bottom-width  .40em

		.joydiv-down
			bottom 0%
			left 68%
			margin-left -40%
			border-top-color  $color10
			border-top-width  .45em
			border-left-width  .40em
			border-right-width  .40em
			border-bottom-width  0

		.joydiv-trackpad
			position absolute
			left 25%
			right 25%
			top 25%
			bottom 25%
			background $color4
			border-radius 40%
			border-width .04em
			border-style solid
			border-color $color8

			.joydiv-tracker
				position absolute
				top 51.5%
				left 51.5%
				border-radius 50%
				border-style solid
				border-width .17em
				margin-left -.17em
				margin-top -.17em
				border-color $color7
				+below( 640px )
					border-width .27em
					margin-left -.27em
					margin-top -.27em


	.joydiv-controller2
		position absolute
		width 200px
		height 200px
		font-size 110px //tamanio de flechas
		bottom 2%
		right 1%
		+below( 640px )
			width 100px
			height 100px
			font-size 55px //tamanio de flechas
			bottom 4%
			right 4%

		.joydiv-up ,.joydiv-left, .joydiv-right, .joydiv-down, .joydiv-n, .joydiv-m
			position absolute
			width 0
			height 0
			background  transparent
			border solid transparent

		.joydiv-up
			top 0%
			left 68%
			margin-left -40%
			border-bottom-color $color10
			border-top-width 0
			border-left-width .40em
			border-right-width .40em
			border-bottom-width .45em

		.joydiv-left
			left  0%
			top  53%
			border-right-color  $color9
			border-top-width  .40em
			border-left-width  0
			border-right-width  .45em
			border-bottom-width  .40em
			margin-top -25%

		.joydiv-right
			right 0%
			top 68%
			margin-top -40%
			border-left-color  $color9
			border-top-width  .40em
			border-left-width  .45em
			border-right-width  0
			border-bottom-width  .40em

		.joydiv-down
			bottom 0%
			left 68%
			margin-left -40%
			border-top-color  $color10
			border-top-width  .45em
			border-left-width  .40em
			border-right-width  .40em
			border-bottom-width  0


		.joydiv-trackpad
			position absolute
			left 25%
			right 25%
			top 25%
			bottom 25%
			background $color4
			border-radius 40%
			border-width .04em
			border-style solid
			border-color $color8

			.joydiv-tracker
				position absolute
				top 51.5%
				left 51%
				border-radius 50%
				border-style solid
				border-width .17em
				margin-left -.17em
				margin-top -.17em
				border-color $color7
				+below( 640 px )
					border-width .27em
					margin-left -.27em
					margin-top -.27em
