html
  head
    title SCESI-EXPLORER
    block scripts
      script(src='/jquery.js')
  body
    block body

<!--
	<% if (!user) { %>
			<p>
			<a href="/">Inicio</a> | 
			<a href="/login">Ingresar</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Inicio</a> | 
			<a href="/tripulante">Tripulante</a> | 
			<a href="/logout">Salir</a>
			</p>
		<% } %>
	
-->